:root {
  --admonition-color-fg--wip: #ff9100;
  --admonition-color-bg--wip: #ff91001a;
  
  --admonition-icon--wip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M4.75 2h14.5a.75.75 0 0 1 0 1.5h-.75v2.982a4.75 4.75 0 0 1-2.215 4.017l-2.044 1.29a.25.25 0 0 0 0 .422l2.044 1.29a4.75 4.75 0 0 1 2.215 4.017V20.5h.75a.75.75 0 0 1 0 1.5H4.75a.75.75 0 0 1 0-1.5h.75v-2.982a4.75 4.75 0 0 1 2.215-4.017l2.044-1.29a.25.25 0 0 0 0-.422l-2.044-1.29A4.75 4.75 0 0 1 5.5 6.482V3.5h-.75a.75.75 0 0 1 0-1.5ZM17 3.5H7v2.982A3.25 3.25 0 0 0 8.516 9.23l2.044 1.29a1.75 1.75 0 0 1 0 2.96l-2.044 1.29A3.25 3.25 0 0 0 7 17.518V20.5h10v-2.982a3.25 3.25 0 0 0-1.516-2.748l-2.044-1.29a1.75 1.75 0 0 1 0-2.96l2.044-1.29A3.25 3.25 0 0 0 17 6.482Z"></path></svg>');
}

.admonition.wiki .md-typeset__scrollwrap {
  margin-top: 0;
  margin-bottom: 0;
}

.admonition.wiki .md-typeset__table {
  padding: 0;
  padding-top: .3rem;
  margin-bottom: 0;
  width: 100%;
}

.md-typeset .admonition.wiki > :last-child:not(p) {
  margin-bottom: 0;
}

.md-typeset .admonition.wiki thead {
  display: none;
}

.md-typeset .admonition.wiki table {
  border: 0;
}

.md-typeset .admonition.wiki tr:hover {
  background-color: transparent;
}

.md-typeset .admonition.wiki tr,
.md-typeset .admonition.wiki td {
  border: 0;
  border-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 0;
}

.md-typeset .admonition.wiki img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.md-typeset .admonition.wiki {
  border-color: var(--md-typeset-table-color);
}

.md-typeset .wiki > .admonition-title,
.md-typeset .wiki > summary {
  background-color: #9e9e9e1a;
  text-align: center;
  padding: .3rem .6rem;
  font-size: 1.25em;
}

.md-typeset .wiki > .admonition-title::before,
.md-typeset .wiki > summary::before {
  background-color: #00000000;
  -webkit-mask-image: none;
          mask-image: none;
  top: 0;
  width: 0;
}

.md-typeset img {
  max-width: 45%;
}

.md-nav__item--section > .md-nav > .md-nav__list {
  margin-left: .5rem;
}

.md-typeset .admonition.wip,
.md-typeset details.wip {
  border-color: var(--admonition-color-fg--wip);
}

.md-typeset .wip > .admonition-title,
.md-typeset .wip > summary {
  background-color: var(--admonition-color-bg--wip);
}

.md-typeset .wip > .admonition-title::before,
.md-typeset .wip > summary::before {
  background-color: var(--admonition-color-fg--wip);
  -webkit-mask-image: var(--admonition-icon--wip);
          mask-image: var(--admonition-icon--wip);
}